html,body{
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-family: sans-serif;
}
.container{
    border:4px solid black;
    border-radius: 20px;
    padding:20px;
    background-color: white;
}
.form{
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
}
.question{
    margin:10px;
}
input{
    font-size: 0.9em;
    border:2px solid black;
    border-radius: 10px;
    padding:5px 10px;
    margin-left: 10px;
}
input:focus{
    border:2px solid blue;
    outline:none;
}
.button{
    background-color: rgb(124, 76, 39);
    padding:10px 20px;
    font-size: 1em;
    color:white;
    border:2px solid rgb(124, 76, 39);
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    padding:10px 20px;
    font-size: 1em;
    color:rgb(124, 76, 39);
    border:2px solid rgb(124, 76, 39);
    border-radius: 10px;
}
.centerbutton{
    margin:10px;
    display: flex;
    justify-content: center;
}